Flask==2.3.2
Flask-Cors==4.0.0
python-dotenv==1.0.0
langchain==0.2.5
langchain-core==0.2.13 # Changed from 0.2.14 to 0.2.13
langchain-groq==0.1.5
beautifulsoup4==4.12.3
requests==2.31.0
gunicorn==20.1.0
uvicorn[standard]
fastapi
gunicorn
langchain-google-genai
pytesseract
Pillow
python-multipart


